absl-py==1.1.0
altair==4.2.0
apturl==0.5.2
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asttokens==2.0.5
astunparse==1.6.3
attrs==21.4.0
backcall==0.2.0
beautifulsoup4==4.11.1
bleach==5.0.1
blinker==1.4
Brlapi==0.8.3
cachetools==5.2.0
certifi==2020.6.20
cffi==1.15.1
chardet==4.0.0
click==8.0.3
cmake==3.22.5
colorama==0.4.4
command-not-found==0.3
commonmark==0.9.1
cryptography==3.4.8
cupshelpers==1.0
cycler==0.11.0
dbus-python==1.2.18
debugpy==1.6.2
decorator==5.1.1
defer==1.0.6
defusedxml==0.7.1
distlib==0.3.4
distro==1.7.0
distro-info===1.1build1
docopt==0.6.2
docutils==0.19
entrypoints==0.4
executing==0.8.3
face-alignment==1.3.5
fastjsonschema==2.15.3
filelock==3.6.0
Flask==2.1.2
flatbuffers==1.12
fonttools==4.33.3
gast==0.4.0
gitdb==4.0.9
GitPython==3.1.27
google-auth==2.9.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
grpcio==1.47.0
h5py==3.7.0
httplib2==0.20.2
idna==3.3
imageio==2.19.3
importlib-metadata==4.6.4
ipykernel==6.15.1
ipython==8.4.0
ipython-genutils==0.2.0
ipywidgets==7.7.0
itsdangerous==2.1.2
jedi==0.18.1
jeepney==0.7.1
Jinja2==3.1.2
joblib==1.1.0
json5==0.9.8
jsonschema==4.6.0
jupyter==1.0.0
jupyter-client==7.3.1
jupyter-console==6.4.3
jupyter-core==4.10.0
jupyter-server==1.17.0
jupyterlab==3.4.2
jupyterlab-pygments==0.2.2
jupyterlab-server==2.14.0
jupyterlab-widgets==1.1.0
keras==2.9.0
Keras-Preprocessing==1.1.2
keyring==23.5.0
Kivy==2.1.0
Kivy-examples==2.1.0
Kivy-Garden==0.1.5
kiwisolver==1.4.3
language-selector==0.1
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
libclang==14.0.1
llvmlite==0.38.1
lorem==0.1.1
louis==3.20.0
macaroonbakery==1.3.1
Markdown==3.3.7
MarkupSafe==2.1.1
matplotlib==3.5.2
matplotlib-inline==0.1.3
mistune==0.8.4
more-itertools==8.10.0
nbclassic==0.3.7
nbclient==0.6.4
nbconvert==6.5.0
nbformat==5.4.0
nest-asyncio==1.5.5
netifaces==0.11.0
networkx==2.8.4
notebook==6.4.11
notebook-shim==0.1.0
numba==0.55.2
numpy==1.22.4
oauthlib==3.2.0
olefile==0.46
opencv-python==4.6.0.66
opt-einsum==3.3.0
packaging==21.3
pandas==1.4.2
pandocfilters==1.5.0
parso==0.8.3
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.0.1
pipenv==2022.7.4
pipreqs==0.4.11
platformdirs==2.5.2
prometheus-client==0.14.1
prompt-toolkit==3.0.29
protobuf==3.12.4
psutil==5.9.1
ptyprocess==0.7.0
pure-eval==0.2.2
pyarrow==8.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycairo==1.20.1
pycparser==2.21
pycups==2.0.1
pydeck==0.7.1
Pygments==2.12.0
PyGObject==3.42.0
PyJWT==2.3.0
pymacaroons==0.13.0
Pympler==1.0.1
PyNaCl==1.5.0
pyparsing==2.4.7
pyRFC3339==1.1
pyrsistent==0.18.1
python-apt==2.3.0+ubuntu2
python-dateutil==2.8.2
python-debian===0.1.43ubuntu1
pytz==2022.1
pytz-deprecation-shim==0.1.0.post0
PyWavelets==1.3.0
pyxdg==0.27
PyYAML==5.4.1
pyzmq==23.1.0
qtconsole==5.3.0
reportlab==3.6.8
requests==2.25.1
requests-oauthlib==1.3.1
rich==12.4.4
rsa==4.8
scikit-image==0.19.3
scikit-learn==1.1.1
scipy==1.8.1
SecretStorage==3.3.1
semver==2.13.0
Send2Trash==1.8.0
six==1.16.0
sklearn==0.0
smmap==5.0.0
sniffio==1.2.0
soupsieve==2.3.2.post1
stack-data==0.2.0
streamlit==1.10.0
systemd-python==234
tensorboard==2.9.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.9.1
tensorflow-estimator==2.9.0
tensorflow-io-gcs-filesystem==0.26.0
termcolor==1.1.0
terminado==0.15.0
threadpoolctl==3.1.0
tifffile==2022.5.4
tinycss2==1.1.1
toml==0.10.2
toolz==0.12.0
torch==1.12.0
torchvision @ git+https://github.com/pytorch/vision@e75a333782bb5d5ffdf5355e766eb5937fc6697c
tornado==6.1
tqdm==4.64.0
traitlets==5.2.2.post1
typing_extensions==4.3.0
tzdata==2022.1
tzlocal==4.2
ubuntu-advantage-tools==27.9
ubuntu-drivers-common==0.0.0
ufw==0.36.1
unattended-upgrades==0.1
urllib3==1.26.5
validators==0.20.0
virtualenv==20.15.1
virtualenv-clone==0.5.7
wadllib==1.3.6
watchdog==2.1.9
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.3.2
Werkzeug==0.16.0
widgetsnbextension==3.6.0
wrapt==1.14.1
xdg==5
xkit==0.0.0
yarg==0.1.9
zipp==1.0.0
